/* */
body {
    overflow:hidden;
}

.moving {
    position:absolute;
}

#art {
    display: block;
    width: auto;
    margin: auto;
}
#header {
    position:relative;
    top: 0px;
    width:300px;
    padding-top: 15px;
    margin:auto;
    color:white;
    font-family: Verdana, Arial, sans-serif;
    line-height: 10px;
}
form, #header>p {
    display: inline-block;
}

input {
    width:100px;
}