/* */
body {
    overflow:hidden;
}
*{font-family: 'PT Sans', sans-serif; font-variant: small-caps;}
.moving {
    position:absolute;
}

#art {
    display: block;
    width: auto;
    margin: auto;
}
#header {
    position:relative;
    top: 0px;
    width:360px;
    padding: 15px;
    margin:auto;
    color:#dfdfdf;
    line-height: 16px;
    font-size:24px;
}
form, #header>p {
    display: inline-block;
}

input {
    width:120px;
}
 input[type="text"] {
      font-variant: small-caps;
  padding: 4px;
  border: solid 1px #dfdfdf;
  box-shadow: 0 0 1px 1px #969696;  box-shadow: 0 0 5px 3px #969696;
  background-color:   #dfdfdf;
  transition: box-shadow 0.3s, border 0.3s;
  opacity:0.9;
         font-size:20px;
}
input[type="text"].focus {
  background-color:   #fff;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 10px #fff;
  opacity:1;
}
